*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.conteiner{
    height: 100vh;
    width: 100vw;
    background-color: hsla(50, 33%, 25%, .75);
    display: flex;
    justify-content: center;
    align-items: center;
}
   
.main{
  width: 900px;
  height: 600px;
  background-color:beige ;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  position: relative;
}
#quate{
    width: 70%;
    height: 200px;
    background-color: bisque;
    border-radius: 50px;
    display: grid;
   place-content: center;
   font-size: 30px;
   box-sizing: border-box;
   padding: 60px;
   position: absolute;
  top: 150px;

}
.btn{
    width: 200px;
    height: 80px;
    background-color: chocolate;
    border-radius: 50px;
   display: grid;
   place-content: center;
   position: absolute;
   bottom: 40px;
}
.btn:hover{
    background-color: rgb(194, 90, 17);
    color: whitesmoke;
    
}
